<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar-edit-main">

        <div class="container">
            <div class="navbar-collapse collapse">

                <div id="nav-content">
                    @*LOGO & TITRE*@
                    <div class="navbar-header">
                        <a href='@Url.Action("MyAction", "MyController")'>
                            <img src='@Url.Content("~/Content/img/logo.png")' class="logo-link" />
                            <span id="website-name">YouCom</span>
                        </a>
                        @*@Html.ActionLink("Logo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    </div>

                    @*NAV BUTTONS*@
                    <ul class="nav navbar-nav" id="navbar-edit">
                        <li><img src="~/Content/img/home.png" id="icone-home" />@Html.ActionLink("Accueil", "Index", "Login")</li>
                        <li><img src="~/Content/img/discussion.png" id="icone-tchat" />@Html.ActionLink("Discussion", "Accueil", "Login")</li>
                        <li><img src="~/Content/img/info.png" id="icone-infos" />@Html.ActionLink("À propos", "About", "Login")</li>
                        <li><img src="~/Content/img/letter.png" id="icone-contact" />@Html.ActionLink("Contact", "Contact", "Login")</li>
                        @if (Session["userAdmin"] != null || Session["userNormal"] != null)
                        {
                            <li><img src="~/Content/img/power-button.png" id="icone-logout" />@Html.ActionLink("Deconnexion", "Logout", "Login")</li>
                        }

                    </ul>

                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/main.js"></script>


</body>
</html>
