@model VisioConference.DTO.UserDTO

@{ ViewBag.Title = "Home Page"; }
@using VisioConference.DTO;
@{ UserDTO dto = (UserDTO)Session["userAdmin"]; }

<div class="container body-content">

    <div class="jumbotron">
        @*LOGO & TITRE*@
        <h2 id="h2-accueil">Bienvenue !</h2>

        @*ACCUEIL*@
        <p class="lead">
            YouCom est une
            <strong>application</strong>
            de
            <strong>communication</strong>
            qui vous permet de discuter avec vos contacts.
            <br />
            Pour commencer à l'utiliser, vous devez créer un compte, ou vous connecter.
        </p>
    </div>

    @*FORMULAIRE DE CONNEXION*@
    <div class="row" id="landpage-content">
        <div class="col-md-7">
            <h2>Créer un compte</h2>
            <br />

            @*form-data nous permet également d'envoyer des fichiers*@
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {@*Protege notre formulaire contre les attauqes CSRF*@
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <div class="col-md-5">
                            @*PHOTO*@
                            @Html.Label("Avatar")
                            <div class="form-group">
                                <img src="~/Content/img/avatar-vide.png" id="avatar-vide">
                            <br />
                                <br />
                                <input type="file" id="myFile" name="filename">
                            </div>
                            @*@Html.ValidationMessageFor(users => users.Photo, "", new { @class = "text-danger" })
                                <input type="file" name="photo" value="" />*@
                        </div>
                        <div class="col-md-7">
                            @*EMAIL*@
                            @Html.ValidationMessageFor(m => m.Email)
                            @Html.Label("eMail")
                            <div class="form-group">
                                @*@Html.LabelFor(users => users.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @Html.EditorFor(users => users.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(users => users.Email, "", new { @class = "text-danger" })
                            </div>

                            @*APSSWORD*@
                            @Html.ValidationMessageFor(m => m.Password)
                            @Html.Label("Mot de passe")
                            <div class="form-group">
                                @*@Html.LabelFor(users => users.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @Html.EditorFor(users => users.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(users => users.Password, "", new { @class = "text-danger" })
                            </div>

                            @*USERNAME*@
                            @Html.Label("Nom d'utilisateur")
                            <div class="form-group">
                                @*@Html.LabelFor(users => users.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @Html.EditorFor(users => users.Pseudo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(users => users.Pseudo, "", new { @class = "text-danger" })
                            </div>

                            <br />
                            @*BOUTON SUBMITT*@
                            <div class="flex-end">
                                <input type="submit" name="btnSubmit" value="Créer" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>}
        </div>

        @*SE CONNECTER*@
        <div class="col-md-5">
            <h2>Se connecter</h2>
            <br />

            @*form-data nous permet également d'envoyer des fichiers*@
            @using (Html.BeginForm())
            {@*Protege notre formulaire contre les attauqes CSRF*@
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <fieldset>

                    @*EMAIL*@
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.Label("eMail")
                    <div class="form-group">
                        @*@Html.LabelFor(users => users.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(users => users.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(users => users.Email, "", new { @class = "text-danger" })
                    </div>

                    @*APSSWORD*@
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.Label("Mot de passe")
                    <div class="form-group">
                        @*@Html.LabelFor(users => users.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(users => users.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(users => users.Password, "", new { @class = "text-danger" })
                    </div>

                    @*BOUTON SUBMITT*@
                    <div class="flex-end">
                        <input type="submit" name="btnSubmit" value="Se connecter" class="btn btn-primary" />
                    </div>
                </fieldset>
            </div>}
        </div>
    </div>
    <hr />

    @*FOOTER*@
    <footer>
        <div class="row">
            <div class="col-md-2" id="footer-col1">
                <img src="~/Content/img/dawan-logo.png" alt="Alternate Text" />
            </div>
            <div class="col-md-10" id="footer-col2">
                YouCom&copy;  est une application développée par :
                <br />
                Sara - Martin - Remy
                <br />
                Développeurs .NET - DAWAN - @DateTime.Now.Year
            </div>
        </div>
    </footer>

</div>

