@model List<VisioConference.DTO.UserDTO>


@{ ViewBag.Title = "Accueil"; }
@using VisioConference.DTO;
@{ UserDTO dto = (UserDTO)Session["userNormal"]; }

<br />

<div id="main-container">

    @*COLONNE 1*@
    <div id="div-main-col-1">
        <br />
        <br />
        <br />

        @*AVATAR*@
        @if (dto.Photo == null)
        {


            <img src="~/Content/img/avatar-vide.png" id="avatar-main" />

        }
        else
        {
            <img src="~/Content/avatar_user/@dto.Photo" alt="Image not found" id="avatar-main" />
        }


        <br />
        <br />
        <br />

        @*USER INFO*@
        <div id="main-div-nom-edit">
            <div>
                <strong id="main-col-1-name">@dto.Pseudo</strong>
                <br />
                #@dto.Id
            </div>
        </div>
        <br />

        @*STATUS SELECTEUR*@
        <select>
            <option value="value">En ligne</option>
            <option value="value">Occupé(e)</option>
            <option value="value">Absent(e)</option>
            <option value="value">Invisible</option>
        </select>
        <br />

        @*MODIFIER PROFIL*@
        <script>
            function myFunction() {
                var x = document.getElementById("formulaire");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <button type="button"
                class="btn btn-primary"
                onclick="myFunction()">
            <i class="fas fa-user-edit"></i>Modifier mon profil
        </button>


        @*@if (TempData["ModifProfil"] != null)
        {
        if ((bool)TempData["ModifProfil"] == true)
        {*@

        @*formulaire modif profil *@
        <div id="formulaire" style="display:none;">
            @using (Html.BeginForm("SaveProfil", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="input-group" style="margin:20px 10px;">
                    <div class="form-group">
                        <label for="Pseudo">Nom d'utilisateur</label>
                        <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Nom d'utilisateur" name="Pseudo">
                    </div>
                    <div class="form-group">
                        <label for="Password">Mot de passe</label>
                        <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Mot de passe" name="Password">
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFileLang">Sélectionner une image </label>
                        <input type="file" class="custom-file-input" id="customFileLang" lang="fr">
                    </div>

                    @*<input type="file" id="myFile" name="Photo">*@
                    <br />
                    <br />
                    <div class="d-flex justify-content-between">

                        <input type="submit" name="btnSubmit" value="Save" class="btn btn-success" style="" />

                        <button type="button"
                                class="btn btn-success"
                                onclick="myFunction()">
                            Annuler
                        </button>

                    </div>
                </div>

            }
        </div>
        @*@if (TempData["AnnulerModif"] == null)
        {

            <div class="flex-start">
                <input type="submit" name="btnSubmit" value="Annuler" class="btn btn-success" onclick="location.href='@Url.Action("AnnulerModif", "Login")'" />
            </div>
        }*@

        @*FOOTER*@
        <footer>
            <div>
                <div id="main-div-footer-1">
                    <img src="~/Content/img/dawan-logo.png" alt="Alternate Text" />
                </div>
                <div id="main-div-footer-2">
                    YouCom&copy;  est une application développée par :
                    <br />
                    Sara - Martin - Remy
                    <br />
                    Développeurs .NET - DAWAN - @DateTime.Now.Year
                </div>
            </div>
        </footer>
    </div>

    @*COLONNE 2*@
    <div id="div-main-col-2">
        <br />
        <br />
        <br />

        @* CHAT CONTENT *@

        @if (TempData["Id_ami"] != null)
        {
            foreach (UserDTO item in Model)
            {
                if (item.Id == (int)TempData["Id_ami"])
                {
                    <h3>
                        @item.Pseudo
                    </h3>
                }
            }
        }
        else
        {
            <h4>
                Bienvenue ! Pour envoyer des messages, cliquez d'abord sur un ami. <br />
                Vous n'avez pas d'ami ? Vous pouvez envoyer des invitations ou vérifier que vous n'en ayez pas déjà reçu.
            </h4>
        }


        <p>
            @*<ul id="discussion">
                </ul>*@
            <ul id="discussion">
                @if ((List<string>)ViewBag.Messages != null)
                {
                    foreach (string message in (List<string>)ViewBag.Messages)
                    {

                        <li>
                            @Html.Raw(message)
                        </li>
                        <br />
                    }
                }
                @*<li id="discussion">
                        <strong>

                        </strong>
                    </li>*@
            </ul>
        </p>

        @* INPUT ENVOYER MESSAGE *@
        <!--Script references.
        <!--Reference the jQuery library. -->
        <script src="~/Content/js/jquery-3.4.1.min.js"></script>
        <!--Reference the SignalR library. -->
        <script src="~/Content/js/jquery.signalR-2.2.2.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        @*<script src="signalr/hubs"></script>*@
        <!--Add script to update the page and send messages.-->
        <script type="text/javascript">
            $(function () {
                console.log("Passage par signaLR");
                // Declare a proxy to reference the hub.
                var chat = $.connection.chatHub;
                // Create a function that the hub can call to broadcast messages.
                chat.client.broadcastMessage = function (name, message) {
                    // Html encode display name and message.
                    var encodedName = $('<div />').text(name).html();
                    var encodedMsg = $('<div />').text(message).html();
                    // Add the message to the page.
                    $('#discussion').append('<li><strong>' + encodedName
                        + ':&nbsp;</strong>' + encodedMsg + '</li><br />');
                };
                // Get the user name and store it to prepend to messages.
                /*$('#displayname').val(prompt('Enter your name:', ''));*/
                // Set initial focus to message input box.
                $('#message').focus();
                // Start the connection.
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        chat.server.send($('#displayname').val(), $('#message').val());
                        //// Clear text box and reset focus for next comment.
                        //$('#message').val('').focus();
                    });
                });
            });</script>

        @*<div class="input-group mb-3" id="input-group-tchat">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fas fa-paperclip"></i> Joindre</button>
                    </span>
                    <input type="text" id="displayname" value="@dto.Pseudo" hidden />
                    <input type="text" class="form-control" placeholder="Ecrire un message à Martin" id="message" name="message_envoye">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="sendmessage"><i class="fas fa-reply"></i> Envoyer</button>
                    </span>
                </div>
            </div>*@

        @if (TempData["Id_ami"] != null)
        {
            using (Html.BeginForm("EnvoyerMessage", "Login", FormMethod.Post))
            {
                <div class="input-group mb-3" id="input-group-tchat">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fas fa-paperclip"></i> Joindre</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Ecrire un message à Martin" id="message" name="message_envoye">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="sendmessage"><i class="fas fa-reply"></i> Envoyer</button>
                        </span>
                    </div>
                </div>
            }
        }


    </div>

    <input type="text" id="displayname" value="@dto.Pseudo" hidden />

    @*COLONNE 3*@
    <div id="div-main-col-3">
        <br />
        <br />
        <br />

        @* ONGLETS *@
        <ul class="nav nav-tabs">
            <li role="presentation" class="active nav-tabs" id="contacts-tab"><a href="#"><i class="fas fa-users"></i> Contacts</a></li>
            <li role="presentation" class="nav-tabs" id="invitations-tab"><a href="#"><i class="fas fa-user-plus"></i> Invitations</a></li>
        </ul>

        @*NOTIFS*@
        <span>
            <div id="div-notif-nb-disc">
                <span id="notif-nb-disc">12</span>
            </div>
            <div id="div-notif-nb-inv">
                <span id="notif-nb-inv">14</span>
            </div>
        </span>

        <div id="contacts-content">

            @* RECHERCHE AMI *@
            <form id="search-friend">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Rechercher</button>
                <input class="form-control me-2" type="search" placeholder="Rechercher un ami" aria-label="Search">
            </form>

            @* TRIER PAR *@
            <div id="div-select-trier">
                <select id="select-trier">
                    <option value="value">Trier par</option>
                    <option value="value">Nouveaux messages</option>
                    <option value="value">Ordre alphabétique</option>
                    <option value="value">Présence</option>
                </select>
            </div>
            <br />

            @* LISTE AMIS *@
            <div id="div-list-amis">

                @*AMI CARD*@
                @foreach (UserDTO item in Model)
                {
                    <hr />
                    using (Html.BeginForm("ClickAmi", "Login", FormMethod.Post))
                    {
                        <input type="text" name="user_id" hidden value="@item.Id" />
                        <button>
                            <div>
                                <img src="~/Content/avatar_user/@item.Photo" alt="Alternate Text" class="ami-card-img" />
                                @if (item.Etat == 0)
                                {
                                    <img src="~/Content/img/state-online.png" class="state-img" />
                                }
                                else
                                {
                                    <img src="~/Content/img/state-offline.png" class="state-img" />
                                }


                            </div>

                            @*AMI TEXT*@
                            <div class="div-ami-card-text">
                                <div>
                                    <span class="ami-nom">@item.Pseudo</span>
                                </div>
                                #@item.Id
                                <br />

                                @if (item.Etat == 0)
                                {
                                    <span class="label label-success">
                                        Online
                                    </span>
                                }
                                else
                                {
                                    <span class="label label-default">
                                        Offline
                                    </span>
                                }
                                <br />
                            </div>
                        </button>
                        <button type="button" class="close edit-btn-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="edit-span-close">&times;</span></button>
                    }
                }

                @* AMI CARD *@
                <!--<hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                        <img src="~/Content/img/state-offline.png" class="state-img" />
                    </div>
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Paul</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        #24
                        <br />
                        <span class="label label-default">Hors ligne</span>
                        <br />
                    </div>

                </div>-->
                @* AMI CARD *@
                <!--<hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/content/img/avatar-vide.png" alt="alternate text" class="ami-card-img" />
                        <img src="~/content/img/state-online.png" class="state-img" />
                    </div>                <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">sara</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        #1
                        <br />
                        <span class="label label-success">en ligne</span>
                        <br />
                    </div>
                </div>-->
                @* AMI CARD *@
                <!--<hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/content/img/avatar-vide.png" alt="alternate text" class="ami-card-img" />
                        <img src="~/content/img/state-online.png" class="state-img" />
                    </div>                <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">martin</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        #3
                        <br />
                        <span class="label label-success">en ligne</span>
                        <br />
                    </div>
                </div>-->
                @* AMI CARD *@
                <!--<hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/content/img/avatar-vide.png" alt="alternate text" class="ami-card-img" />
                        <img src="~/content/img/state-afk.png" class="state-img" />
                    </div>                <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">nico</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        #98
                        <br />
                        <div class="label label-warning">-->
                @*<span class="label label-warning">inactif</span>*@
                <!--inactif
                        </div>
                        <br />
                    </div>
                </div>-->
            </div>
        </div>

        <div id="invitations-content" class="d-no">

            @*INVITATIONS RECUES*@
            <span class="subcat">
                Invitations reçues
            </span>
            <hr class="hr-subcat" />

            <div id="div-list-invit-in">

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

            </div>

            @* RECHERCHE UTILISATEUR *@
            <br />
            <br />
            <span class="subcat">
                Recherche d'utilisateur
            </span>
            <hr class="hr-subcat" />


            @* RECHERCHE AMI *@
            <form id="search-friend">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Rechercher</button>
                <input class="form-control me-2" type="search" placeholder="Rechercher un utilisateur" aria-label="Search">
            </form>

            @* TRIER PAR *@
            <div id="div-select-trier">
                <select id="select-trier">
                    <option value="value">Trier par</option>
                    <option value="value">Nouveaux messages</option>
                    <option value="value">Ordre alphabétique</option>
                    <option value="value">Présence</option>
                </select>
            </div>
            <br />

            @* LISTE DE LA RECHERCHE *@
            <div id="div-list-invit-in">

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
}
