@model List<VisioConference.DTO.JointureDTO>
@{ ViewBag.Title = "Accueil"; }
@using VisioConference.DTO;
@{ UserDTO dto = (UserDTO)Session["userNormal"]; }

<br />
<div id="main-container">

    @*COLONNE 1*@
    <div id="div-main-col-1">
        <br />
        <br />
        <br />

        @*AVATAR*@
        @if (dto.Photo == null)
        {<img src="~/Content/img/avatar-vide.png" id="avatar-main" />}
        else
        {<img src="~/Content/avatar_user/@dto.Photo" alt="Image not found" id="avatar-main" />}
        <br />

        @*USER INFO*@
        <div id="main-div-nom-edit">
            <div>
                <strong id="main-col-1-name">@dto.Pseudo</strong>
                <br />
                <span id="user-id">#@dto.Id</span>
            </div>
        </div>

        @*STATUS SELECTEUR*@
        <select id="select-state">
            <option>En ligne</option>
            <option>Occupé</option>
            <option>Absent</option>
            <option>Hors ligne</option>
        </select>
        <hr />

        @*MODIFIER PROFIL*@
        <button type="button" class="btn btn-primary" onclick="btnModifProfil()" id="btn-modif-profil">
            <i class="fas fa-user-edit"></i> Modifier mon profil
        </button>
        <br />

        @* MODIFIER MON PROFIL *@
        <div id="modifier-profil-content">
            <div id="div-titre-modifier">
                <i class="fas fa-user-edit iblue"></i>
                <h3>Modifier mon profil</h3>
            </div>

            @using (Html.BeginForm("SaveProfil", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group" id="div-modif-profile">

                    @*INPUTS*@
                    <label for="Pseudo" id="label-pseudo">Pseudo</label>
                    <input type="text" class="form-control" placeholder="" name="Pseudo">
                    <br />
                    <br />
                    <label for="Password" id="label-password">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="" name="Password">
                    <br />
                    <br />
                    <div id="div-modif-avatar">
                        <i class="fas fa-camera iblue"></i>
                        <input type="file" id="myFile" name="Photo">
                    </div>
                    <br />

                    @*BUTTONS*@
                    <div id="div-modif-profil-btn">
                        <button type="button" class="btn btn-danger" onclick="btnAnnulerProfil()">
                            <i class="fas fa-times-circle"></i>
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-primary" onclick="" name="btnSubmit" value="Save">
                            <i class="fas fa-save"></i>
                            Enregistrer
                        </button>
                    </div>
                </div>
            }
        </div>

        @*FOOTER*@
        <footer>
            <div class="d-flex">
                <div id="main-div-footer-1">
                    <img src="~/Content/img/dawan-logo.png" alt="Alternate Text" />
                </div>
                <div id="main-div-footer-2">
                    YouCom&copy;  est une application développée par :
                    <br />
                    Sara - Martin - Remy
                    <br />
                    Développeurs .NET - DAWAN - @DateTime.Now.Year
                </div>
            </div>
        </footer>
    </div>

    @*COLONNE 2*@
    <div id="div-main-col-2">
        <br />
        <br />
        <br />

        @* CHAT CONTENT *@
        @if (TempData["Id_ami"] != null)
        {
            foreach (JointureDTO item in Model)
            {
                if (item.Id == (int)TempData["Id_ami"])
                {
                    <div id="div-user-tchat">
                        <img src="~/Content/avatar_user/@item.Photo" class="ami-card-img" />
                        <div id="div-tchat-user-name">
                            <h3>@item.Pseudo</h3>
                            <span id="span-tchat-id">#@item.Id</span>
                            @*LABEL*@
                            @switch (item.Etat)
                            {
                                case 0:
                                    <span class="label label-default label-tchat">
                                        <i class="fas fa-user-alt-slash"></i>
                                        Hors ligne
                                    </span>
                                    break;
                                case 1:
                                    <span class="label label-success label-tchat">
                                        <i class="fas fa-user"></i>
                                        En ligne
                                    </span>
                                    break;
                                case 2:
                                    <span class="label label-danger label-tchat">
                                        <i class="fas fa-minus-circle"></i>
                                        Occupé
                                    </span>
                                    break;
                                case 3:
                                    <span class="label label-warning label-tchat">
                                        <i class="fas fa-moon"></i>
                                        Inactif
                                    </span>
                                    break;
                                default:
                                    break;
                            }
                        </div>
                    </div>
                }
            }
        }
        else
        {
            //MESSAGE ACCUEIL NO DISCUSSION
            <div class="jumbotron jumbo-infos">
                <h2 class="">
                    <i class="fas fa-info-circle iblue"></i>
                    Informations
                </h2>
                <hr />
                <p>
                    Pour commencer, vous pouvez recherchez un membre dans l'onglet <strong>Invitations</strong> dans la colonne de droite.<br />
                    Ensuite, envoyez lui une invitation.<br />
                    Lorsque votre ami l'aura accepté, il apparaitra dans l'onglet <strong>Contacts</strong>.<br />
                    Vous pourrez communiquer avec lui en cliquant sur la carte correspondant à son nom.<br />
                </p>
            </div>
            <img src="~/Content/img/astro2.png" id="img-astro" />
        }
        <p>
            <ul id="discussion">
                @if ((List<string>)ViewBag.Messages != null)
                {
                    foreach (string message in (List<string>)ViewBag.Messages)
                    {
                        <li>
                            @Html.Raw(message)
                        </li>
                    }
                }
            </ul>
        </p>

        @* INPUT ENVOYER MESSAGE *@
        @if (TempData["Id_ami"] != null)
        {
            using (Html.BeginForm("EnvoyerMessage", "Login", FormMethod.Post))
            {
                <div class="input-group mb-3" id="input-group-tchat">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fas fa-paperclip"></i> Joindre</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Ecrire un message" id="message" name="message_envoye">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="sendmessage"><i class="fas fa-reply"></i> Envoyer</button>
                        </span>
                    </div>
                </div>
            }
        }
    </div>

    <input type="text" id="displayname" value="@dto.Pseudo" hidden />

    @*COLONNE 3*@
    <div id="div-main-col-3">
        <br />
        <br />
        <br />

        @* ONGLETS *@
        <ul class="nav nav-tabs">
            <li role="presentation" class="active nav-tabs" id="contacts-tab"><a href="#"><i class="fas fa-users iblue" id="iusers"></i> Contacts</a></li>
            <li role="presentation" class="nav-tabs" id="invitations-tab"><a href="#"><i class="fas fa-user-plus" id="iuserplus"></i> Invitations</a></li>
        </ul>

        @*Script pour rendre l'onblet invitation actif après recherche, au chargement de la page*@
        @if (TempData["search"] != null || TempData["inviteEnvoyee"] != null || TempData["inviteRefusee"] != null)
        {
            <script src="~/Content/js/jquery-3.4.1.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    console.log("Passage par ma fonction");
                    document.getElementById("invitations-tab").click();
                });
            </script>
        }

        @*NOTIFS*@
        @if (Model != null)
        {
            int cmpt = 0;
            foreach (JointureDTO item in Model)
            {
                if (!item.invitation && item.userFriendId == dto.Id)
                {
                    cmpt++;
                }
            }
            if (cmpt > 0)
            {
                <div id="div-notif-nb-inv">
                    <span id="notif-nb-inv">@cmpt</span>
                </div>
            }
        }


        <div id="contacts-content">

            @* RECHERCHE AMI *@
            <form id="search-friend">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Rechercher</button>
                <input class="form-control me-2" type="search" placeholder="Rechercher un ami" aria-label="Search">
            </form>

            @* TRIER PAR *@
            @*<div id="div-select-trier">
                <select id="select-trier">
                    <option value="value">Trier par</option>
                    <option value="value">Nouveaux messages</option>
                    <option value="value">Ordre alphabétique</option>
                    <option value="value">Présence</option>
                </select>
            </div>*@
            <br />

            @* LISTE AMIS *@
        <div id="div-list-amis">

            @*AMI CARD*@
            @foreach (JointureDTO item in Model)
            {
                if (item.invitation)
                {
                    <hr />
                    using (Html.BeginForm("ClickAmi", "Login", FormMethod.Post))
                    {
                        <input type="text" name="user_id" hidden value="@item.Id" />
                        <button>
                            <div>

                                @*AVATAR*@
                                @if (item.Photo == null)
                                {<img src="~/Content/img/avatar-vide.png" class="ami-card-img" />}
                                else
                                {<img src="~/Content/avatar_user/@item.Photo" alt="Image not found" class="ami-card-img" />}
                                <br />

                                @*POINTS*@
                                @switch (item.Etat)
                                {
                                    case 0:
                                        <img src="~/Content/img/state-offline.png" class="state-img" />
                                        break;
                                    case 1:
                                        <img src="~/Content/img/state-online.png" class="state-img" />
                                        break;

                                    case 2:
                                        <img src="~/Content/img/state-busy.png" class="state-img" />
                                        break;
                                    case 3:
                                        <img src="~/Content/img/state-afk.png" class="state-img" />
                                        break;
                                    default:
                                        break;
                                }
                            </div>

                            @*AMI TEXT*@
                            <div class="div-ami-card-text">
                                <div>
                                    <span class="ami-nom">@item.Pseudo</span>
                                </div>
                                <span class="friends-id">#@item.Id</span>
                                <br />

                                @*LABEL*@
                                @switch (item.Etat)
                                {
                                    case 0:
                                        <span class="label label-default">
                                            <i class="fas fa-user-alt-slash"></i>
                                            Hors ligne
                                        </span>
                                        break;
                                    case 1:
                                        <span class="label label-success">
                                            <i class="fas fa-user"></i>
                                            En ligne
                                        </span>
                                        break;
                                    case 2:
                                        <span class="label label-danger">
                                            <i class="fas fa-minus-circle"></i>
                                            Occupé
                                        </span>
                                        break;
                                    case 3:
                                        <span class="label label-warning">
                                            <i class="fas fa-moon"></i>
                                            Inactif
                                        </span>
                                        break;
                                    default:
                                        break;
                                }
                                <br />
                            </div>
                        </button>

                    }
                    using (Html.BeginForm("SupprimerAmi", "Login", FormMethod.Post))
                    {
                    <input type="text" name="ami_id" hidden value="@item.Id" />
                    <button @*type="button"*@ class="close edit-btn-close" id="sup_ami" style="padding-top: 0px;width: 22px;top: -85;padding-right: 0px;margin-right: 5px;bottom: 90px;">
                        <span aria-hidden="true" class="edit-span-close" style="width: 22px;">&times;</span>
                    </button>
                    }
                }
            }
        </div>
        </div>

        <div id="invitations-content" class="d-no">

            @*INVITATIONS RECUES*@
            <span class="subcat">
                Invitations reçues
            </span>
            <hr class="hr-subcat" />

            <div id="div-list-invit-in">

                @foreach (JointureDTO item in Model)
                {
                    if (item.invitation == false && dto.Id == item.userFriendId)
                    {
                        <hr />
                        //CARD
                        <div class="div-cheat">
                            <button class="button-inv-amis">
                                <div>

                                    @*AVATAR*@
                                    @if (item.Photo == null)
                                    {<img src="~/Content/img/avatar-vide.png" class="ami-card-img" />}
                                    else
                                    {<img src="~/Content/avatar_user/@item.Photo" alt="Image not found" class="ami-card-img" />}
                                    <br />

                                </div>

                                @*AMI TEXT*@
                                <div class="div-ami-card-text">
                                    <div>
                                        <span class="ami-nom">@item.Pseudo</span>
                                    </div>
                                    <span class="friends-id">#@item.Id</span>
                                    <br />
                                    <br />
                                </div>
                            </button>

                            @*CHOIX DEMANDE AMI*@
                            <div class="div-choix-inv">

                                @*BOUTON REFUSER AMI*@
                                @using (Html.BeginForm("RejectInvite", "Login", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-times-circle"></i>
                                        <span>Refuser</span>
                                    </button>
                                    <input type="text" name="rejectInviteUser_id" hidden value="@item.Id" />
                                }

                                @*BOUTON ACCPTER AMI*@
                                @using (Html.BeginForm("AcceptInvite", "Login", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-check-circle"></i>
                                        <span>Accepter</span>
                                    </button>
                                    <input type="text" name="acceptInviteUser_id" hidden value="@item.Id" />
                                }
                            </div>
                        </div>
                    }
                }
            </div>

            @* RECHERCHE UTILISATEUR *@
            <br />
            <br />
            <span class="subcat">
                Recherche d'utilisateur
            </span>
            <hr class="hr-subcat" />

            @* RECHERCHE MEMBRE *@
            @using (Html.BeginForm("Search", "Login", FormMethod.Post))
            {
                <form id="search-members">
                    <button class="btn btn-primary" type="submit" id="btn-search-member"><i class="fas fa-search"></i> Rechercher</button>
                    <input class="form-control me-2" type="search" placeholder="Rechercher un utilisateur" aria-label="Search" name="search">
                </form>

                @* TRIER PAR *@
                @*<div id="div-select-trier">
                    <select id="select-trier">
                        <option value="value">Trier par</option>
                        <option value="value">Nouveaux messages</option>
                        <option value="value">Ordre alphabétique</option>
                        <option value="value">Présence</option>
                    </select>
                </div>*@
            }


            @* LISTE DE LA RECHERCHE *@
            <div id="div-list-search">
                @if (TempData["resultatFriendAndOthers"] != null)
                {
                    foreach (JointureDTO item in (List<JointureDTO>)TempData["resultatFriendAndOthers"])
                    {
                        // SI INVIT NON RECUE
                        if (!(item.invitation == false && dto.Id == item.userFriendId))
                        {
                            // INVIT ENVOYEE
                            if (item.invitation == false && dto.Id == item.userId)
                            {
                                <hr />
                                <div classe="div-ami-card" style=" display:inline-flex">
                                    <div>
                                        @*AVATAR*@
                                        @if (item.Photo == null)
                                        {<img src="~/Content/img/avatar-vide.png" class="ami-card-img" />}
                                        else
                                        {<img src="~/Content/avatar_user/@item.Photo" alt="Image not found" class="ami-card-img" />}
                                        <br />
                                    </div>

                                    @*AMI TEXT*@
                                    <div class="div-ami-card-text">
                                        <div>
                                            <span class="ami-nom">@item.Pseudo</span>
                                        </div>
                                        #@item.Id
                                        <br />
                                        <span class="label label-envoye">
                                            <i class="fas fa-user-plus"></i>
                                            Envoyée
                                        </span>
                                        <br />
                                    </div>
                                </div>
                            }
                            // MEMBRE AMI
                            else if ((item.invitation == true) && dto.Id == item.userId || dto.Id == item.userFriendId)
                            {
                                <hr />
                                <div classe="div-ami-card" style=" display:inline-flex">
                                    <div>
                                        @*AVATAR*@
                                        @if (item.Photo == null)
                                        {<img src="~/Content/img/avatar-vide.png" class="ami-card-img" />}
                                        else
                                        {<img src="~/Content/avatar_user/@item.Photo" alt="Image not found" class="ami-card-img" />}
                                        <br />
                                    </div>

                                    @*AMI TEXT*@
                                    <div class="div-ami-card-text">
                                        <div>
                                            <span class="ami-nom">@item.Pseudo</span>
                                        </div>
                                        #@item.Id
                                        <br />
                                        <span class="label label-success">
                                            <i class="fas fa-user-check"></i>
                                            Ami
                                        </span>
                                        <br />
                                    </div>
                                </div>

                            }
                            // MEMBRE INCONNU
                            else if (item.userId == 0)
                            {
                                <hr />
                                <div classe="div-ami-card" style=" display:inline-flex">
                                    <div>
                                        @*AVATAR*@
                                        @if (item.Photo == null)
                                        {<img src="~/Content/img/avatar-vide.png" class="ami-card-img" />}
                                        else
                                        {<img src="~/Content/avatar_user/@item.Photo" alt="Image not found" class="ami-card-img" />}
                                        <br />
                                    </div>

                                    @*AMI TEXT*@
                                    <div class="div-ami-card-text">
                                        <div>
                                            <span class="ami-nom">@item.Pseudo</span>
                                        </div>

                                        #@item.Id
                                        <br />
                                        @using (Html.BeginForm("EnvoyerInvite", "Login", FormMethod.Post))
                                        {
                                            <button type="submit" class="btn btn-primary btn-ajouter-amis">
                                                <i class="fas fa-user-plus"></i>
                                                <span>Ajouter</span>
                                            </button>
                                            <input type="text" name="EnvoyerInvite_id" hidden value="@item.Id" />
                                        }
                                        <br />
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
}