@model List<VisioConference.DTO.UserDTO>


@{ ViewBag.Title = "Accueil"; }
@using VisioConference.DTO;
@{ UserDTO dto = (UserDTO)Session["userNormal"]; }

<br />

<div id="main-container">

    @*COLONNE 1*@
    <div id="div-main-col-1">
        <br />
        <br />
        <br />

        @*AVATAR*@
        @if (dto.Photo == null)
        {<img src="~/Content/img/avatar-vide.png" id="avatar-main" />}
        else
        {<img src="~/Content/avatar_user/@dto.Photo" alt="Image not found" id="avatar-main" />}
        <br />

        @*USER INFO*@
        <div id="main-div-nom-edit">
            <div>
                <strong id="main-col-1-name">@dto.Pseudo</strong>
                <br />
                <span id="user-id">#@dto.Id</span>
            </div>
        </div>

        @*STATUS SELECTEUR*@
    <select id="select-state">

                <option class="status label-success" >En ligne</option>

                <option class="label-danger" >Occupé(e)</option>

                <option class="label-warning" >Absent(e)</option>

                <option class="label-default" >Hors ligne</option>

    </select>
        <hr />

        @*MODIFIER PROFIL*@
        <button type="button" class="btn btn-primary" onclick="btnModifProfil()" id="btn-modif-profil">
            <i class="fas fa-user-edit"></i> Modifier mon profil
        </button>
        <br />

        @* MODIFIER MON PROFIL *@
        <div id="modifier-profil-content">
            <div id="div-titre-modifier">
                <i class="fas fa-user-edit iblue"></i>
                <h3>Modifier mon profil</h3>
            </div>

            @using (Html.BeginForm("SaveProfil", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group" id="div-modif-profile">

                    @*INPUTS*@
                    <label for="Pseudo" id="label-pseudo">Pseudo</label>
                    <input type="text" class="form-control" placeholder="" name="Pseudo">
                    <br />
                    <br />
                    <label for="Password" id="label-password">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="" name="Password">
                    <br />
                    <br />
                    <div id="div-modif-avatar">
                        <i class="fas fa-camera iblue"></i>
                        <input type="file" id="myFile" name="Photo">
                    </div>
                    <br />

                    @*BUTTONS*@
                    <div id="div-modif-profil-btn">
                        <button type="button" class="btn btn-danger" onclick="btnAnnulerProfil()"> Annuler</button>
                        <button type="submit" class="btn btn-primary" onclick="" name="btnSubmit" value="Save"> Enregistrer</button>
                    </div>
                </div>
            }
        </div>

        @*FOOTER*@
        <footer>
            <div>
                <div id="main-div-footer-1">
                    <img src="~/Content/img/dawan-logo.png" alt="Alternate Text" />
                </div>
                <div id="main-div-footer-2">
                    YouCom&copy;  est une application développée par :
                    <br />
                    Sara - Martin - Remy
                    <br />
                    Développeurs .NET - DAWAN - @DateTime.Now.Year
                </div>
            </div>
        </footer>
    </div>

    @*COLONNE 2*@
<div id="div-main-col-2">
    <br />
    <br />
    <br />

    @* CHAT CONTENT *@
    @if (TempData["Id_ami"] != null)
    {
        foreach (UserDTO item in Model)
        {
            if (item.Id == (int)TempData["Id_ami"])
            {
                <div id="div-user-tchat">
                    <img src="~/Content/avatar_user/@item.Photo" class="ami-card-img" />
                    <div id="div-tchat-user-name">
                        <h3>@item.Pseudo</h3>
                        <span id="span-tchat-id">#@item.Id</span>
                        @*LABEL*@
                        @switch (item.Etat)
                        {
                            case 0:
                                <span class="label label-default label-tchat">
                                    Hors ligne
                                </span>
                                break;
                            case 1:
                                <span class="label label-success label-tchat">
                                    En ligne
                                </span>
                                break;
                            case 2:
                                <span class="label label-danger label-tchat">
                                    Occupé(e)
                                </span>
                                break;
                            case 3:
                                <span class="label label-warning label-tchat">
                                    Inactif
                                </span>
                                break;
                            default:
                                break;
                        }
                    </div>
                </div>
            }
        }
    }
    else
    {
        <h4>
            Bienvenue ! Pour envoyer des messages, cliquez d'abord sur un ami. <br />
            Vous n'avez pas d'ami ? Vous pouvez envoyer des invitations ou vérifier que vous n'en ayez pas déjà reçu.
        </h4>
    }

    <p>
        <ul id="discussion">
            @if ((List<string>)ViewBag.Messages != null)
            {
                foreach (string message in (List<string>)ViewBag.Messages)
                {
                    <li>
                        @Html.Raw(message)
                    </li>
                }
            }
        </ul>
    </p>

        @* INPUT ENVOYER MESSAGE *@


        @if (TempData["Id_ami"] != null)
        {
            using (Html.BeginForm("EnvoyerMessage", "Login", FormMethod.Post))
            {
                <div class="input-group mb-3" id="input-group-tchat">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fas fa-paperclip"></i> Joindre</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Ecrire un message à Martin" id="message" name="message_envoye">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="sendmessage"><i class="fas fa-reply"></i> Envoyer</button>
                        </span>
                    </div>
                </div>}
        }
    </div>

    <input type="text" id="displayname" value="@dto.Pseudo" hidden />

    @*COLONNE 3*@
    <div id="div-main-col-3">
        <br />
        <br />
        <br />

        @* ONGLETS *@
        <ul class="nav nav-tabs">
            <li role="presentation" class="active nav-tabs" id="contacts-tab"><a href="#"><i class="fas fa-users iblue" id="iusers"></i> Contacts</a></li>
            <li role="presentation" class="nav-tabs" id="invitations-tab"><a href="#"><i class="fas fa-user-plus" id="iuserplus"></i> Invitations</a></li>
        </ul>

        @*NOTIFS*@
        <div id="div-notif-nb-disc">
            <span id="notif-nb-disc">12</span>
        </div>
        <div id="div-notif-nb-inv">
            <span id="notif-nb-inv">14</span>
        </div>

        <div id="contacts-content">

            @* RECHERCHE AMI *@
            <form id="search-friend">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Rechercher</button>
                <input class="form-control me-2" type="search" placeholder="Rechercher un ami" aria-label="Search">
            </form>

            @* TRIER PAR *@
            <div id="div-select-trier">
                <select id="select-trier">
                    <option value="value">Trier par</option>
                    <option value="value">Nouveaux messages</option>
                    <option value="value">Ordre alphabétique</option>
                    <option value="value">Présence</option>
                </select>
            </div>
            <br />

            @* LISTE AMIS *@
            <div id="div-list-amis">

                @*AMI CARD*@
                @foreach (UserDTO item in Model)
                {
                    <hr />
                    using (Html.BeginForm("ClickAmi", "Login", FormMethod.Post))
                    {
                        <input type="text" name="user_id" hidden value="@item.Id" />
                        <button>
                            <div>
                                <img src="~/Content/avatar_user/@item.Photo" alt="Alternate Text" class="ami-card-img" />

                                @*POINTS*@
                                @switch (item.Etat)
                                {
                                    case 0:
                                        <img src="~/Content/img/state-offline.png" class="state-img" />
                                        break;
                                    case 1:
                                        <img src="~/Content/img/state-online.png" class="state-img" />
                                        break;

                                    case 2:
                                        <img src="~/Content/img/state-busy.png" class="state-img" />
                                        break;
                                    case 3:
                                        <img src="~/Content/img/state-afk.png" class="state-img" />
                                        break;
                                    default:
                                        break;
                                }
                            </div>

                            @*AMI TEXT*@
                            <div class="div-ami-card-text">
                                <div>
                                    <span class="ami-nom">@item.Pseudo</span>
                                </div>
                                <span class="friends-id">#@item.Id</span>
                                <br />

                                @*LABEL*@
                                @switch (item.Etat)
                                {
                                    case 0:
                                        <span class="label label-default">
                                            Hors ligne
                                        </span>
                                        break;
                                    case 1:
                                        <span class="label label-success">
                                            En ligne
                                        </span>
                                        break;
                                    case 2:
                                        <span class="label label-danger">
                                            Occupé(e)
                                        </span>
                                        break;
                                    case 3:
                                        <span class="label label-warning">
                                            Inactif
                                        </span>
                                        break;
                                    default:
                                        break;
                                }
                                <br />
                            </div>
                        </button>
                        <button type="button" class="close edit-btn-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="edit-span-close">&times;</span></button>
                    }
                }
            </div>
        </div>

        <div id="invitations-content" class="d-no">

            @*INVITATIONS RECUES*@
            <span class="subcat">
                Invitations reçues
            </span>
            <hr class="hr-subcat" />

            <div id="div-list-invit-in">

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

            </div>

            @* RECHERCHE UTILISATEUR *@
            <br />
            <br />
            <span class="subcat">
                Recherche d'utilisateur
            </span>
            <hr class="hr-subcat" />


            @* RECHERCHE AMI *@
            <form id="search-members">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Rechercher</button>
                <input class="form-control me-2" type="search" placeholder="Rechercher un utilisateur" aria-label="Search">
            </form>

            @* TRIER PAR *@
            <div id="div-select-trier">
                <select id="select-trier">
                    <option value="value">Trier par</option>
                    <option value="value">Nouveaux messages</option>
                    <option value="value">Ordre alphabétique</option>
                    <option value="value">Présence</option>
                </select>
            </div>
            <br />

            @* LISTE DE LA RECHERCHE *@
            <div id="div-list-invit-in">

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>

                @*EXEMPLE USER*@
                <hr />
                <div classe="div-ami-card" style=" display:inline-flex">
                    <div>
                        <img src="~/Content/img/avatar-vide.png" alt="Alternate Text" class="ami-card-img" />
                    </div>

                    @*AMI TEXT*@
                    <div class="div-ami-card-text">
                        <div>
                            <span class="ami-nom">Nom</span>
                        </div>
                        #ID
                        <br />
                        <span class="label label-default">
                            Offline
                        </span>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
}
